*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Castoro';
    font-weight: 400;
    line-height: 1.5;
}

img{
    vertical-align: middle;
}

a{
    display: block;
    
    &:hover{
        opacity: 0.8;
    }
}

.container{
    max-width: $containerMaxWidth;
    margin: 0 auto;
}